<!-- index for visitors -->

<!DOCTYPE html>
<html>
  <head>
    <title>Timestamp microservice</title>
    <meta name="description" content="An api for getting timestamps or dates">
    <meta name="author" content="Michael Baghel">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/4d6943fa-f57a-42da-92f0-69e333e7d255%2Ffavicon.ico?1523890095911" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Timestamp Microservice
      </h1>
    </header>

    <main>
      <h3>
        How To:
      </h3>
      <p>Pass either a unix timestamp or natural language date with the URL. <br>The api will return both the timestamp and date</p>
      <h3>
        Example Usage:
      </h3>
      <code>https://mbaghel-timestamp.glitch.me/December%2015,%202015</code><br>
      <code>https://mbaghel-timestamp.glitch.me/1450137600</code>
      <h3>
        Example Output:
      </h3>
      <code>{ "unix": 1450137600, "natural": "December 15, 2015" }</code>
    </main>

    <footer>
      <a href="https://michaelbaghel.com">
        made by Michael Baghel
      </a>
    </footer>
    
  </body>
</html>
